<tr class='nested-fields'>
    <% if current_account && current_account.accountable_type == "BudgetApprover" #&& current_account.deptNum == source.department%>
    <td><%= form.text_field :department, :readonly => true %></td>
    <td><%= form.number_field :amount, :readonly => true %></td>
    <td><%= form.select :approval, TravelAuthorization::STATUS_TYPES %></td>
  <% end %>
</tr>
