<tr class='nested-fields'>

      <td><%= form.text_field :department %></td>
    	<td><%= form.number_field :amount %></td>
    	<td><%= link_to_remove_association "remove source", form %></td>    
</tr>

