<style type="text/css">
	h1, h2{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
	}
</style>


<h1>New Travel Authorization</h1>
<hr>
<%= render 'form', travel_authorization: @travel_authorization %>

<%= link_to 'Back', travel_authorizations_path %>
